In [47]:
import pandas as pb
import pandas as pd

In [48]:
fruits_series = pd.Series(['apple','orange','grapes'])
colors_series = pd.Series(['red','green','blue'])

In [49]:
dataframe = pd.DataFrame({'fruits':fruits_series,'colors':colors_series})
print(dataframe)

   fruits colors
0   apple    red
1  orange  green
2  grapes   blue

In [50]:
data = pd.read_csv('../Cricket/chirps.csv')
data

      Date  Time  Chirps_15s   Temp_C
0   21-Aug  2030      44.000  26.9440
1   21-Aug  2100      46.400  25.8330
2   21-Aug  2200      43.600  25.5560
3   24-Aug  1945      35.000  23.0560
4   24-Aug  2015      35.000  21.3890
5   24-Aug  2100      32.600  20.0000
6   24-Aug  2200      28.900  18.8890
7   24-Aug  2230      27.700  18.3330
8   25-Aug    30      25.500  16.3890
9   25-Aug   330      20.375  13.8890
10  25-Aug   500      12.500  12.7780
11  25-Aug  2000      37.000  24.5830
12  25-Aug  2030      37.500  23.3330
13  25-Aug  2100      36.500  23.3330
14  25-Aug  2200      36.200  22.5000
15  26-Aug   530      33.000  18.8890
16  26-Aug  2030      43.000  25.2780
17  26-Aug  2200      46.000  25.8330
18  27-Aug  2000      29.000  20.2780
19  27-Aug  2030      31.700  20.2780
20  27-Aug  2100      31.000  20.0000
21  27-Aug  2200      28.750  18.8890
22  28-Aug   240      23.500  15.0000
23  28-Aug  2010      32.400  21.1110
24  28-Aug  2050      31.000  20.5560
25  28-Aug  2200      29.500  19.4440
26  29-Aug   240      22.500  16.2500
27  29-Aug   440      20.600  14.7220
28  29-Aug  2000      35.000  22.2220
29  29-Aug  2050      33.100  21.6670
30  29-Aug  2200      31.500  20.5560
31  29-Aug  2330      28.800  19.1670
32  30-Aug   330      21.300  15.5560
33  30-Aug  2000      37.800  23.8890
34  30-Aug  2055      37.000  22.9170
35  30-Aug  2200      37.100  22.5000
36   1-Sep  2200      36.200  21.1110
37   2-Sep   330      31.400  19.7220
38   2-Sep   600      30.200  18.8890
39   4-Sep   240      31.300  20.5560
40   4-Sep   505      26.100  17.2220
41   5-Sep   500      25.200  17.2220
42   6-Sep   600      23.660  16.1110
43   7-Sep   215      22.250  16.6670
44   7-Sep   525      17.500  13.6110
45   9-Sep  2010      15.500  12.7780
46   9-Sep  2110      14.750  11.1110
47  10-Sep  2115      15.000  11.6670
48  10-Sep  2210      14.000  10.0000
49  11-Sep   315      18.500  11.1110
50  16-Sep  2100      27.700  18.3330
51  17-Sep  2200      26.000  17.2220
52  18-Sep   130      21.700  15.0000
53  19-Sep   415      12.500  10.4170
54  19-Sep   435      12.500   9.5833

In [51]:
data.dtypes
data.columns
data.index

RangeIndex(start=0, stop=55, step=1)

In [52]:
data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        55 non-null     object
 1   Time        55 non-null     int64
 2   Chirps_15s  55 non-null     float64
 3   Temp_C      55 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ KB

In [53]:
data.head(20)
data.tail(10)

      Date  Time  Chirps_15s   Temp_C
45   9-Sep  2010       15.50  12.7780
46   9-Sep  2110       14.75  11.1110
47  10-Sep  2115       15.00  11.6670
48  10-Sep  2210       14.00  10.0000
49  11-Sep   315       18.50  11.1110
50  16-Sep  2100       27.70  18.3330
51  17-Sep  2200       26.00  17.2220
52  18-Sep   130       21.70  15.0000
53  19-Sep   415       12.50  10.4170
54  19-Sep   435       12.50   9.5833

In [57]:
data[data['Temp_C'] > 25]
pd.crosstab(data.Temp_C,data.Chirps_15s)

Chirps_15s,12.500,14.000,14.750,15.000,15.500,17.500,18.500,20.375,20.600,21.300,...,36.500,37.000,37.100,37.500,37.800,43.000,43.600,44.000,46.000,46.400
Temp_C,,,,,,,,,,,,,,,,,,,,,
9.5833,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.0000,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.4170,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11.1110,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11.6670,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12.7780,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13.6110,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13.8890,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14.7220,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15.0000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15.5560,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16.1110,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16.2500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16.3890,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16.6670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17.2220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18.3330,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18.8890,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19.1670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19.4440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19.7220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20.0000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20.2780,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20.5560,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21.1110,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21.3890,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21.6670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22.2220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22.5000,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
22.9170,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
23.0560,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23.3330,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
23.8890,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
24.5830,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
25.2780,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
25.5560,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
25.8330,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
26.9440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [58]:
vip = data[data.Temp_C > 25]
vip

      Date  Time  Chirps_15s  Temp_C
0   21-Aug  2030        44.0  26.944
1   21-Aug  2100        46.4  25.833
2   21-Aug  2200        43.6  25.556
16  26-Aug  2030        43.0  25.278
17  26-Aug  2200        46.0  25.833

In [ ]:
data.groupby(['Temp_C']).mean()
data.groupby(['Temp_C']).plot()
data.groupby(['Temp_C']).hist()

In [67]:
titanic = pd.read_csv('../titanic/train.csv')
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [68]:
titanic['Name'].str.lower()

0                                braund, mr. owen harris
1      cumings, mrs. john bradley (florence briggs th...
2                                 heikkinen, miss. laina
3           futrelle, mrs. jacques heath (lily may peel)
4                               allen, mr. william henry
                             ...
886                                montvila, rev. juozas
887                         graham, miss. margaret edith
888             johnston, miss. catherine helen "carrie"
889                                behr, mr. karl howell
890                                  dooley, mr. patrick
Name: Name, Length: 891, dtype: object