In [37]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [38]:
first = pd.read_excel("data/1st Result.xlsx")
first

       Roll    GPA
0   1802001  2.432
1   1802007  2.750
2   1802008  2.667
3   1802009  3.130
4   1802010  2.537
5   1802011  2.685
6   1802012  3.065
7   1802013  3.167
8   1802014  2.676
9   1802015  3.519
10  1802016  2.620
11  1802017  3.102
12  1802018  2.491
13  1802019  3.194
14  1802021  3.611
15  1802023  2.991
16  1802024  2.568
17  1802025  3.261
18  1802026  3.054
19  1802027  3.217
20  1802028  3.157
21  1802030  3.120
22  1802031  3.000
23  1802032  2.307
24  1802033  2.592
25  1802034  2.972
26  1802035  2.620
27  1802036  2.511
28  1802037  2.991
29  1802038  2.704
30  1802039  2.592
31  1802040  3.028
32  1802041  2.333
33  1802042  3.296
34  1802045  2.539
35  1802048  3.079
36  1802049  3.152
37  1802050  2.796
38  1802052  3.162
39  1802053  2.276
40  1802054  3.583
41  1802055  2.926
42  1802059  2.935
43  1802061  2.513
44  1802063  2.433
45  1802064  2.694
46  1802065  2.852
47  1802066  2.639
48  1802068  3.141
49  1802069  2.954
50  1802071  3.889
51  1802072  2.944
52  1802073  3.204
53  1702043  3.454

In [39]:
second = pd.read_excel("2nd Result.xlsx")
second = second[['Roll', 'GPA']]
# second = second.dropna()
second

       Roll    GPA
0   1802001  2.595
1   1802007  2.954
2   1802008  2.492
3   1802009  3.512
4   1802010  2.596
..      ...    ...
60  1702034  2.521
61  1702038  2.415
62  1702043  3.155
63  1702055  2.828
64  1702070  2.673

[65 rows x 2 columns]

In [40]:
third = pd.read_excel("3rd Result.xlsx")
third = third[['Roll', 'GPA']]
third

       Roll    GPA
0   1802001  2.714
1   1802007  3.375
2   1802008  2.875
3   1802009  3.482
4   1802010  2.750
..      ...    ...
60  1702026  3.161
61  1702030  3.214
62  1702033  2.942
63  1702034  2.875
64  1702043  3.357

[65 rows x 2 columns]

In [41]:
fourth = pd.read_excel("4th Result.xlsx")
fourth = fourth[['Roll', 'GPA']]
fourth

       Roll    GPA
0   1802001  2.521
1   1802007  2.979
2   1802008  2.875
3   1802009  3.357
4   1802010  2.542
..      ...    ...
63  1702033  2.917
64  1702034  2.650
65  1702043  3.125
66  1702046  2.773
67  1702048  2.775

[68 rows x 2 columns]

In [42]:
fifth = pd.read_excel("5th Result.xlsx")
fifth = fifth
fifth = fifth[['Roll', 'GPA']]
fifth

       Roll    GPA
0   1802001  2.888
1   1802007  3.043
2   1802008  2.554
3   1802009  3.724
4   1802010  2.610
..      ...    ...
62  1702033  2.667
63  1702034  2.325
64  1702043  3.310
65  1702046  2.324
66  1702048  2.727

[67 rows x 2 columns]

In [43]:
sixth = pd.read_excel("6th result.xlsx")
sixth = sixth[['Roll', 'Student Name', 'GPA']]
sixth

       Roll           Student Name    GPA
0   1802001    SHYAM SUNDER MONDAL  2.828
1   1802007  A.B.M. SHIFAR EMTIOUS  3.181
2   1802008        MD. FOZLE RABBI  2.667
3   1802009    MD. SHAHRIAR RAHMAN  3.845
4   1802010           EPON CHANDRA  2.780
..      ...                    ...    ...
61  1702033           SALMAN SAKIB  2.370
62  1702034      MD. MAHIM HOSSAIN  2.571
63  1702043                AL-AMEN  3.328
64  1702046    ASHRAFUL ALAM MAMUN  2.380
65  1702048           TANVIR AHMED  2.417

[66 rows x 3 columns]

In [44]:
seventh = pd.read_csv('data/7th Result.csv')
seventh = seventh[['Roll', 'GPA', 'CGPA']]

seventh

       Roll    GPA   CGPA
0   1802001  2.585  2.649
1   1802007  3.131  3.062
2   1802008  2.362  2.540
3   1802009  3.591  3.525
4   1802010  2.585  2.554
..      ...    ...    ...
60  1702033  2.500  2.696
61  1702034  2.664  2.642
62  1702043  3.213  3.286
63  1702046  2.836  2.457
64  1702048  2.760  2.591

[65 rows x 3 columns]

In [45]:
result = [third, fourth, fifth, sixth,seventh]
name = ["third", "fourth", "fifth", "sixth","seventh"]

all_result = pd.merge(first, second, on="Roll")
all_result['first'] = all_result['GPA_x']
all_result['second'] = all_result['GPA_y']
all_result.drop(['GPA_x', 'GPA_y'], axis=1, inplace=True)

for index, i in enumerate(result):
    all_result = pd.merge(all_result, i, on="Roll")
    all_result[name[index]] = all_result['GPA']
    all_result.drop(['GPA'], axis=1, inplace=True)

all_result = all_result[['Roll', 'Student Name', 'first', 'second', 'third', 'fourth', 'fifth', 'sixth','seventh', 'CGPA']]

all_result

,Roll,Student Name,first,second,third,fourth,fifth,sixth,seventh,CGPA
0,1802001,SHYAM SUNDER MONDAL,2.432,2.595,2.714,2.521,2.888,2.828,2.585,2.649
1,1802007,A.B.M. SHIFAR EMTIOUS,2.750,2.954,3.375,2.979,3.043,3.181,3.131,3.062
2,1802008,MD. FOZLE RABBI,2.667,2.492,2.875,2.875,2.554,2.667,2.362,2.540
3,1802009,MD. SHAHRIAR RAHMAN,3.130,3.512,3.482,3.357,3.724,3.845,3.591,3.525
4,1802010,EPON CHANDRA,2.537,2.596,2.750,2.542,2.610,2.780,2.585,2.554
5,1802011,MOLLA TAMZID ISLAM,2.685,2.617,3.179,2.893,3.147,3.319,3.250,3.019
6,1802012,SHARMISTHA SARKAR,3.065,2.916,3.214,3.071,3.017,3.207,2.954,3.069
7,1802013,MAHFUZ TAIM,3.167,2.822,3.196,3.167,3.103,2.660,2.739,2.949
8,1802014,MD. TASNIF RAHMAN,2.676,2.910,3.643,3.607,3.586,3.836,3.301,3.373
9,1802015,AYESHA SIDDIKA MUKTA,3.519,3.331,3.500,3.679,3.259,3.233,3.250,3.396
10,1802016,TAMANNA AKTER SONALY,2.620,3.178,2.982,3.161,2.922,3.130,3.195,3.023
11,1802017,MD. IMDUD-UL-HAQUE,3.102,2.838,2.696,2.786,2.793,2.810,2.875,2.806
12,1802018,SABBIR RASHID MIM,2.491,2.593,2.477,2.729,2.470,2.250,2.412,2.464
13,1802019,KAMRUN NAHAR,3.194,3.343,3.589,3.339,3.483,3.216,3.267,3.347
14,1802021,ANIK BISWAS,3.611,3.729,3.893,3.714,3.871,3.914,3.830,3.797
15,1802023,HASAN MORSHED,2.991,2.759,3.214,3.179,3.302,3.267,3.063,3.113
16,1802024,ALI HOSSAIN,2.568,2.856,3.107,3.214,3.172,3.397,3.284,3.083
17,1802025,MALIHA AFROJ ORNA,3.261,3.512,3.714,3.500,3.767,3.862,3.864,3.656
18,1802026,LAMIA FATIHA,3.054,3.277,3.446,3.696,3.767,3.586,3.455,3.459
19,1802027,MD. BABUL HASAN,3.217,3.243,3.321,3.304,3.250,3.474,3.063,3.269
20,1802028,SHAMSUL KARIM MAZUMDER,3.157,2.820,3.042,3.054,3.078,2.948,2.921,2.991
21,1802030,NAZMUL HASAN,3.120,3.521,3.625,3.571,3.784,3.819,3.710,3.598
22,1802031,FARZANA AKTAR,3.000,3.298,3.500,3.250,3.293,3.328,3.284,3.281
23,1802032,MD. JAHIDUL ISLAM,2.307,2.969,3.339,3.232,3.276,3.155,3.080,3.066
24,1802033,MD. MOHIUDDIN AHMED OMI,2.592,2.290,2.857,2.857,2.648,2.640,2.658,2.644
25,1802034,MUHAMMAD AL-MUZAHID,2.972,3.027,3.821,3.643,3.621,3.353,3.523,3.427
26,1802035,MD. MAHDI HASAN,2.620,2.304,3.167,2.813,2.976,2.926,2.731,2.726
27,1802036,MD. MOSIUR RAHMAN SHEFAT,2.511,2.557,3.036,2.946,3.095,2.750,2.855,2.834
28,1802037,PARTHA DAS,2.991,3.036,3.038,3.023,2.880,3.000,3.112,3.001
29,1802038,TAHMIDUR RAHMAN TAJ,2.704,2.753,3.554,3.304,3.138,3.112,2.969,3.083
30,1802039,HAMID MAHTAB IMAD,2.592,2.958,2.786,2.964,2.896,3.100,3.086,2.877
31,1802040,NIPA AKTER,3.028,2.967,3.482,3.571,3.216,3.405,3.114,3.256
32,1802041,ABDUR RAHMAN,2.333,2.511,3.250,2.786,2.966,2.922,2.739,2.786
33,1802042,MD. RONY MIR,3.296,3.084,3.643,3.268,3.603,3.500,3.267,3.382
34,1802045,TAHMID AHNAF,2.539,2.672,3.179,3.018,2.740,2.716,3.302,2.868
35,1802048,MD. JAMIUL HAQUE,3.079,2.792,3.339,3.214,3.500,3.698,3.898,3.364
36,1802049,FARIHA AKTHER,3.152,2.922,3.232,3.304,3.483,3.474,3.216,3.255
37,1802050,SABUJ SARKER,2.796,2.566,2.893,3.159,2.940,2.664,2.875,2.809
38,1802052,MEHEDI HASAN RABBI,3.162,3.145,3.696,3.696,3.672,3.448,3.267,3.443
39,1802053,MD. ADNAN HOSSAIN,2.276,2.653,2.600,2.417,2.696,2.412,2.578,2.510
40,1802054,MD. TAHSIN AMIN,3.583,3.268,3.625,3.589,3.828,3.707,3.727,3.621
41,1802055,RUHIT SHAH,2.926,2.657,3.429,3.661,3.724,3.681,3.778,3.418
42,1802059,SIFATUL HUQ,2.935,3.085,3.446,2.625,3.238,2.691,3.464,2.991
43,1802061,MISKATUL JANNAT MEEM,2.513,2.950,2.607,2.900,2.625,2.868,2.442,2.580
44,1802063,MD. RAKIB,2.433,2.645,2.839,2.696,3.138,2.810,3.284,2.844
45,1802064,RAKIBUL HASAN SEZAN,2.694,2.947,3.536,3.518,3.629,3.509,3.233,3.305
46,1802065,MD. SAIFUL ISLAM,2.852,2.726,3.018,3.107,3.405,3.250,2.824,3.031
47,1802066,ABHISHEK DAS,2.639,2.560,2.923,2.696,3.000,2.931,2.638,2.769
48,1802068,FATEMA FERDOUS TAMANNA,3.141,3.172,3.054,3.107,2.991,3.112,3.148,3.105
49,1802069,ARJON GOLDER,2.954,2.831,3.625,3.321,3.483,3.250,3.301,3.256
50,1802071,SADIA ZANNAT REEM,3.889,4.000,3.607,3.661,3.810,3.707,3.574,3.748
51,1802072,S.M. ASADUZZAMAN SUMON,2.944,3.127,3.607,3.143,3.319,3.198,3.165,3.219
52,1802073,MD. RAKIBUL ISLAM,3.204,3.030,3.786,3.536,3.672,3.638,3.574,3.496
53,1702043,AL-AMEN,3.454,3.155,3.357,3.125,3.310,3.328,3.213,3.286

In [46]:
all_result.to_csv("all_result.csv")

In [47]:
dif = data[['Roll', 'Student Name', 'GPA', 'PCGPA', 'CGPA']]
dif['inc'] = dif.CGPA - dif.PCGPA
dif

NameError: name 'data' is not defined

In [ ]:

dif = dif.sort_values(by='inc', ascending=True)
jump = sns.barplot(dif.head(10), x='Student Name', y='inc')
jump.set_xticklabels(jump.get_xticklabels(), rotation=40, ha="right")
plt.title("Top Changes CGPA in 6th Semester")
plt.ylabel("Change in CGPA")
plt.show()
dif
dif['4th'] = None
dif['3rd'] = None
dif['2nd'] = None

dif

In [ ]:
dif.Roll

In [ ]:
dif = dif[dif['Roll'] > 1802000]
roll = np.array(dif.Roll)
for id in roll:
    sheet = dif[dif.Roll == id]
    sec = second[second.Roll == id]
    thi = third[third.Roll == id]
    four = fourth[fourth.Roll == id]
    sheet['2nd'] = sec['GPA']
    sheet['3rd'] = thi['GPA']
    sheet['4th'] = four['GPA']
    dif[dif.Roll == id] = sheet
dif

In [ ]:
outcome = pd.read_csv("Merge all sem.csv")
#outcome.to_csv("Outcome.csv")
outcome['max_jump'] = None
outcome = outcome.sort_values(by='6th', ascending=False)
outcome

In [ ]:
six = np.array(outcome['6th'])
sns.displot(six, kde=True, bins=10)
plt.title("6th semester result barplot")
plt.ylabel("Number of students")
plt.show()

In [ ]:


roll = np.array(outcome.Roll)
for id in roll:
    i = outcome[outcome['Roll'] == id]
    ok = np.array([i['2nd'], i['3rd'], i['4th'], i['5th'], i['6th']])
    ok = ok.reshape(-1, 5)
    i.max_jump = (max(ok[0]) - min(ok[0]))
    outcome[outcome['Roll'] == id] = i

# outcome = outcome.sort_values(by='max_jump',ascending=False)
outcome

In [ ]:
lg = sns.barplot(outcome.head(11), x='Student Name', y='max_jump')
lg.set_xticklabels(lg.get_xticklabels(), rotation=40, ha="right")
# plt.title("Longest Jump Ever (2nd to 6th)")
plt.title("Constant CGPA, top less variate cgpa")
# plt.ylabel("Highest GPA - Lowest GPA")
plt.ylabel("Change in CGPA")
plt.show()