In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [ ]:
second = pd.read_excel("2nd Result.xlsx")
second = second[[ 'Roll',  'Student Name','GPA', 'CGPA']]
second = second.dropna()
second

In [ ]:
third = pd.read_excel("3rd Result.xlsx")
third = third[['STUDENT NAME',  'Roll', 'GPA',  'CGPA']]
third

In [ ]:
fourth = pd.read_excel("4th Result.xlsx")
fourth = fourth[['Roll', 'Student Name', 'GPA']]
fourth

In [ ]:
fifth = pd.read_excel("5th Result.xlsx")
fifth = fifth
fifth = fifth.drop(['SL No.' , 'Regi', 'PCGPA', 'PCCH', 'CCH', 'Earned Cr', 'REMARKS'] ,axis=1)

In [ ]:
data = pd.read_excel("6th result.xlsx")
data
top  = data.sort_values(by = 'CGPA',ascending=False)
top

In [ ]:
top  = data.sort_values(by = 'CGPA',ascending=False)
topper = sns.barplot(top.head(16),x='Student Name',y='CGPA')
topper.set_xticklabels(topper.get_xticklabels(), rotation=40, ha="right")
plt.title("Batch Topper")
plt.show()

In [ ]:
top_6th  = data.sort_values(by = 'GPA',ascending=False)
sixth = sns.barplot(top_6th.head(13),x='Student Name',y='GPA')
sixth.set_xticklabels(sixth.get_xticklabels(), rotation=40, ha="right")
plt.title("6th semester Topper")
plt.show()

In [ ]:
dif = data[['Roll','Student Name','GPA','PCGPA','CGPA']]
dif['inc'] = dif.CGPA-dif.PCGPA
dif

In [ ]:

dif  = dif.sort_values(by = 'inc',ascending=True)
jump = sns.barplot(dif.head(10),x='Student Name',y='inc')
jump.set_xticklabels(jump.get_xticklabels(), rotation=40, ha="right")
plt.title("Top Changes CGPA in 6th Semester")
plt.ylabel("Change in CGPA")
plt.show()
dif
dif['4th'] = None
dif['3rd'] = None
dif['2nd'] = None

dif

In [ ]:
dif.Roll

In [ ]:
dif = dif[dif['Roll']>1802000]
roll = np.array(dif.Roll)
for id in roll:
    sheet = dif[dif.Roll == id]
    sec = second[second.Roll==id]
    thi = third[third.Roll==id]
    four = fourth[fourth.Roll==id]
    sheet['2nd'] = sec['GPA']
    sheet['3rd'] = thi['GPA']
    sheet['4th'] = four['GPA']
    dif[dif.Roll == id] = sheet
dif

In [5]:
outcome = pd.read_csv("Merge all sem.csv")
#outcome.to_csv("Outcome.csv")
outcome['max_jump'] = None
outcome = outcome.sort_values(by='6th',ascending=False)
outcome

,Roll,Student Name,2nd,3rd,4th,5th,6th,max_jump
14,1802021,ANIK BISWAS,3.729,3.893,3.714,3.871,3.914,None
17,1802025,MALIHA AFROJ ORNA,3.512,3.714,3.500,3.767,3.862,None
3,1802009,MD. SHAHRIAR RAHMAN,3.512,3.482,3.357,3.724,3.845,None
8,1802014,MD. TASNIF RAHMAN,2.910,3.643,3.607,3.586,3.836,None
21,1802030,NAZMUL HASAN,3.521,3.625,3.571,3.784,3.819,None
51,1802071,SADIA ZANNAT REEM,4.000,3.607,3.661,3.810,3.707,None
40,1802054,MD. TAHSIN AMIN,3.268,3.625,3.589,3.828,3.707,None
35,1802048,MD. JAMIUL HAQUE,2.792,3.339,3.214,3.500,3.698,None
41,1802055,RUHIT SHAH,2.657,3.429,3.661,3.724,3.681,None
53,1802073,MD. RAKIBUL ISLAM,3.030,3.786,3.536,3.672,3.638,None
18,1802026,LAMIA FATIHA,3.277,3.446,3.696,3.767,3.586,None
46,1802064,RAKIBUL HASAN SEZAN,2.947,3.536,3.518,3.629,3.509,None
33,1802042,MD. RONY MIR,3.084,3.643,3.268,3.603,3.500,None
36,1802049,FARIHA AKTHER,2.922,3.232,3.304,3.483,3.474,None
19,1802027,MD. BABUL HASAN,3.243,3.321,3.304,3.250,3.474,None
38,1802052,MEHEDI HASAN RABBI,3.145,3.696,3.696,3.672,3.448,None
31,1802040,NIPA AKTER,2.967,3.482,3.571,3.216,3.405,None
16,1802024,ALI HOSSAIN,2.856,3.107,3.214,3.172,3.397,None
25,1802034,MUHAMMAD AL-MUZAHID,3.027,3.821,3.643,3.621,3.353,None
22,1802031,FARZANA AKTAR,3.298,3.500,3.250,3.293,3.328,None
5,1802011,MOLLA TAMZID ISLAM,2.617,3.179,2.893,3.147,3.319,None
15,1802023,HASAN MORSHED,2.759,3.214,3.179,3.302,3.267,None
50,1802069,ARJON GOLDER,2.831,3.625,3.321,3.483,3.250,None
47,1802065,MD. SAIFUL ISLAM,2.726,3.018,3.107,3.405,3.250,None
9,1802015,AYESHA SIDDIKA MUKTA,3.331,3.500,3.679,3.259,3.233,None
13,1802019,KAMRUN NAHAR,3.343,3.589,3.339,3.483,3.216,None
6,1802012,SHARMISTHA SARKAR,2.916,3.214,3.071,3.017,3.207,None
52,1802072,S.M. ASADUZZAMAN SUMON,3.127,3.607,3.143,3.319,3.198,None
1,1802007,A.B.M. SHIFAR EMTIOUS,2.954,3.375,2.979,3.043,3.181,None
23,1802032,MD. JAHIDUL ISLAM,2.969,3.339,3.232,3.276,3.155,None
10,1802016,TAMANNA AKTER SONALY,3.178,2.982,3.161,2.922,3.130,None
29,1802038,TAHMIDUR RAHMAN TAJ,2.753,3.554,3.304,3.138,3.112,None
49,1802068,FATEMA FERDOUS TAMANNA,3.172,3.054,3.107,2.991,3.112,None
30,1802039,HAMID MAHTAB IMAD,2.958,2.786,2.964,2.896,3.100,None
28,1802037,PARTHA DAS,3.036,3.038,3.023,2.880,3.000,None
20,1802028,SHAMSUL KARIM MAZUMDER,2.820,3.042,3.054,3.078,2.948,None
48,1802066,ABHISHEK DAS,2.560,2.923,2.696,3.000,2.931,None
26,1802035,MD. MAHDI HASAN,2.304,3.167,2.813,2.976,2.926,None
32,1802041,ABDUR RAHMAN,2.511,3.250,2.786,2.966,2.922,None
43,1802061,MISKATUL JANNAT MEEM,2.950,2.607,2.900,2.625,2.868,None
0,1802001,SHYAM SUNDER MONDAL,2.595,2.714,2.521,2.888,2.828,None
45,1802063,MD. RAKIB,2.645,2.839,2.696,3.138,2.810,None
11,1802017,MD. IMDUD-UL-HAQUE,2.838,2.696,2.786,2.793,2.810,None
4,1802010,EPON CHANDRA,2.596,2.750,2.542,2.610,2.780,None
27,1802036,MD. MOSIUR RAHMAN SHEFAT,2.557,3.036,2.946,3.095,2.750,None
44,1802062,AMIRUL ALAM,3.011,3.021,3.000,2.938,2.737,None
34,1802045,TAHMID AHNAF,2.672,3.179,3.018,2.740,2.716,None
42,1802059,SIFATUL HUQ,3.085,3.446,2.625,3.238,2.691,None
2,1802008,MD. FOZLE RABBI,2.492,2.875,2.875,2.554,2.667,None
37,1802050,SABUJ SARKER,2.566,2.893,3.159,2.940,2.664,None
7,1802013,MAHFUZ TAIM,2.822,3.196,3.167,3.103,2.660,None
24,1802033,MD. MOHIUDDIN AHMED OMI,2.290,2.857,2.857,2.648,2.640,None
39,1802053,MD. ADNAN HOSSAIN,2.653,2.600,2.417,2.696,2.412,None
12,1802018,SABBIR RASHID MIM,2.593,2.477,2.729,2.470,2.250,None

In [ ]:
six = np.array(outcome['6th'])
sns.displot(six, kde=True, bins=10)
plt.title("6th semester result barplot")
plt.ylabel("Number of students")
plt.show()

In [ ]:


roll = np.array(outcome.Roll)
for id in roll:
    i = outcome[outcome['Roll']==id]
    ok = np.array([i['2nd'],i['3rd'],i['4th'],i['5th'],i['6th']])
    ok = ok.reshape(-1,5)
    i.max_jump = (max(ok[0])-min(ok[0]))
    outcome[outcome['Roll']==id] = i

# outcome = outcome.sort_values(by='max_jump',ascending=False)
outcome

In [ ]:
lg = sns.barplot(outcome.head(11),x='Student Name',y='max_jump')
lg.set_xticklabels(lg.get_xticklabels(), rotation=40, ha="right")
# plt.title("Longest Jump Ever (2nd to 6th)")
plt.title("Constant CGPA, top less variate cgpa")
# plt.ylabel("Highest GPA - Lowest GPA")
plt.ylabel("Change in CGPA")
plt.show()