In [2]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [65]:
data = pd.read_csv('train.csv')
data.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [66]:
label = LabelEncoder().fit_transform(data['Transported'])
data['Transported'] = label
label = LabelEncoder().fit_transform(data['HomePlanet'])
data['HomePlanet'] = label
label = LabelEncoder().fit_transform(data['CryoSleep'])
data['CryoSleep'] = label
label = LabelEncoder().fit_transform(data['Destination'])
data['Destination'] = label
label = LabelEncoder().fit_transform(data['VIP'])
data['VIP'] = label

data=data.dropna()


x = data[['HomePlanet','CryoSleep','Destination','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]
y = data['Transported']

x = x.to_numpy()
y = y.to_numpy()

x

array([[1.000e+00, 0.000e+00, 2.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [0.000e+00, 0.000e+00, 2.000e+00, ..., 2.500e+01, 5.490e+02,
        4.400e+01],
       [1.000e+00, 0.000e+00, 2.000e+00, ..., 0.000e+00, 6.715e+03,
        4.900e+01],
       ...,
       [0.000e+00, 0.000e+00, 2.000e+00, ..., 1.872e+03, 1.000e+00,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 0.000e+00, 3.530e+02,
        3.235e+03],
       [1.000e+00, 0.000e+00, 2.000e+00, ..., 0.000e+00, 0.000e+00,
        1.200e+01]])

In [67]:
logr = linear_model.LogisticRegression()
logr.fit(x,y)

C:\Users\NoYoN_CSE16\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [68]:
data = pd.read_csv('test.csv')
label = LabelEncoder().fit_transform(data['HomePlanet'])
data['HomePlanet'] = label
label = LabelEncoder().fit_transform(data['CryoSleep'])
data['CryoSleep'] = label
label = LabelEncoder().fit_transform(data['Destination'])
data['Destination'] = label
label = LabelEncoder().fit_transform(data['VIP'])
data['VIP'] = label

data = data.fillna(0)


x = data[['HomePlanet','CryoSleep','Destination','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]

x

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0,1,2,27.0,0,0.0,0.0,0.0,0.0,0.0
1,0,0,2,19.0,0,0.0,9.0,0.0,2823.0,0.0
2,1,1,0,31.0,0,0.0,0.0,0.0,0.0,0.0
3,1,0,2,38.0,0,0.0,6652.0,0.0,181.0,585.0
4,0,0,2,20.0,0,10.0,0.0,635.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
4272,0,1,2,34.0,0,0.0,0.0,0.0,0.0,0.0
4273,0,0,2,42.0,0,0.0,847.0,17.0,10.0,144.0
4274,2,1,0,0.0,0,0.0,0.0,0.0,0.0,0.0
4275,1,0,3,0.0,0,0.0,2680.0,0.0,0.0,523.0
4276,0,1,1,43.0,0,0.0,0.0,0.0,0.0,0.0

In [69]:
predictions = logr.predict(x)
predictions
out = {'PassengerId': data['PassengerId'], 'Transported': predictions}
df = pd.DataFrame(out)
df.to_csv('output.csv',index=False)

C:\Users\NoYoN_CSE16\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [13]:
app = pd.read_excel('cseian.xlsx')
app = app['Unnamed: 3']
app = app.to_numpy()
print(app)

['Name' 'SHYAM SUNDER MONDAL' 'SHUYEB HASSAN DIHAN' 'MD. MAHMUDUL HASAN'
 'MD. SHOWKAT SHAMIM' 'SHAMIM IQBAL' 'MD.ATIQUL ISLAM SHAON'
 'A.B.M. SHIFAR EMTIOUS' 'MD. FOZLE RABBI' 'MD. SHAHRIAR RAHMAN'
 'EPON CHANDRA' 'MOLLA TAMZID ISLAM' 'SHARMISTHA SARKAR' 'MAHFUZ TAIM'
 'MD. TASNIF RAHMAN' 'AYESHA SIDDIKA MUKTA' 'TAMANNA AKTER SONALY'
 'MD. IMDUD-UL-HAQUE' 'SABBIR RASHID MIM' 'KAMRUN NAHAR'
 'SADIA JAHAN MOHONA' 'ANIK BISWAS' 'ZIN DIN ZIDEN' 'HASAN MORSHED'
 'ALI HOSSAIN' 'MALIHA AFROJ ORNA' 'LAMIA FATIHA' 'MD. BABUL HASAN'
 'SHAMSUL KARIM MAZUMDER' 'HABIBUR RHAMAN KHAN RATIN' 'NAZMUL HASAN'
 'FARZANA AKTAR' 'MD. JAHIDUL ISLAM' 'MD. MOHIUDDIN AHMED OMI'
 'MUHAMMAD AL- MUZAHID' 'MD. MAHDI HASAN' 'MD. MOSIUR RAHMAN SHEFAT'
 'PARTHA DAS' 'TAHMIDUR RAHMAN TAJ' 'HAMID MAHTAB IMAD' 'NIPA AKTER'
 'ABDUR RAHMAN' 'MD. RONY MIR' 'SHISHIR BHUIYA' 'MD MEHEDI HASAN'
 'TAHMID AHNAF' 'MD. TAWFIQ  HASAN PRANTO' 'SOURAV RAY' 'MD JAMIUL HAQUE'
 'FARIHA AKTHER' 'SABUJ SARKER' 'SAURAV DHALI' 'MEHEDI HASAN RABBI'
 'MD ADNAN HOSSAIN' 'MD. TAHSIN AMIN' 'RUHIT SHAH' 'MD. RASHED KHAN'
 'MD. RAIYAN KARIM' 'B.M. SHANJID RASHID PRANTO' 'SIFATUL HUQ'
 'SAYADA FATIMA TUJ JOHORA' 'MISKATUL JANNAT MEEM' 'AMIRUL ALAM'
 'MD. RAKIB' 'RAKIBUL HASAN SEZAN' 'MD. SAIFUL ISLAM' 'ABHISHEK DAS'
 'ANIRBAN GHOSH' 'FATEMA FERDOUS TAMANNA' 'ARJON GOLDER' 'MD RAD SHAHMAT']